body 
	background-color #f5f6fa
	font-size 14px
	font-family 'Roboto', sans-serif
	
h2,h3,h4,h5,ul,body,html
	padding 0px 
	margin 0px 
a
	text-decoration none
	&:hover 
		text-decoration none
		
.form-control
	&:focus 
		box-shadow none
		outline none
.form-select 
	&:focus
		box-shadow none 
		outline none
	
.mtop16
	margin-top 16px
	
.mb32
	margin-bottom 32px

.mb16
	margin-bottom 16px
	
.wrapper
	min-height 100vh
	overflow hidden
	 .col1
		float left
		position relative
		z-index 999
		width 17%
	.col2
		float right 
		width 83%

.sidebar
	background-color #fff
	min-height 100vh
	min-width  30vh
	.section-top
		background-color #ebebeb
		box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.1)
	.logo 
		display block
		margin 0px
		padding-top 24px
		width 90%
	.user 
		color rgb(0, 0, 0)!important
		padding 16px
		a 
			color #fff 
			font-size 1.2em
	.main 
		ul 
			li 
				margin-bottom 4px
				a 
					color rgb(49, 49, 49)!important
					display block
					font-size 1.1em 
					padding 12px 12px
					text-decoration none
					1
					    margin-right 10px
					    
					&:hover
						border-radius 10px
						background-color #9a9a9b85
						color rgb(62, 62, 62)!important
						margin-left 10px
						width 98%
						
				a.active
					margin-left 10px
					border-radius 10px
					background-color rgba(177, 177, 177, 0.464)
					box-shadow 0 0.5rem 1rem rgba(0,0,0, 0.1)
					color rgb(91, 91, 91)!important
					text-decoration none
					width 98%
.navbar
	background-color #ebebeb
	  a 
		  color #fff !important
	
.page 
	padding-top 16px
	padding-bottom 16px
	.breadcrumb 
		background-color #fff 
		box-shadow 10px 10px 3rem rgba(0, 0, 0, 0.10) !important
		min-height 5vh
		border-radius 6px
		.breadcrumb-item
			padding-top 8px
			padding-left 8px
			
			
	.panel 
		background-color #fff
		border-radius 6px
		border-bottom 2px solid #adc9d6
		width 100%
		.header
			border-bottom 1px solid #e8e8e8
			h2.title 
				display inline-block
				color #19213d
				font-size 1.1em
				padding 12px 16px
			ul 
				display inline-block
				float right
				margin-right 12px
				li 
					display inline-block
					a 
						color #333
						display inline-block
						padding 11px
						&:hover
							background-color #f6f6f6
							color #222
							text-decoration none
						i 
							color #2caaff
					ul 
						background-color #fff
						border 1px solid #f0f0f0
						display none
						float none
						position absolute
						right -16px
						width 200px
						li 
							display inline-block
							border-bottom 1px solid #f0f0f0
							width 100%
							&:last-child
								border-bottom 0px style color
							a 
								display block
								width value
					&:hover
						ul 
							display block
		.inside
			padding 16px
		.nav 
			.nav-link
				border 1px solid #e8e8e8
				&:hover 
					background-color #e8e8e8
					color #fff
					
		.form_search
			display none
			margin-bottom 16px
			.btn 
				width 100%
				
		.big_count
			display block
			font-size 2em
			text-align center
			width 100%
			
	
.opts 
	a 
		border-radius 4px
		border 1px solid #dedede
		display inline-block
		padding 8px 12px
		

.product_gallery
	overflow hidden
	.btn-submit
		display block
		margin-right 1%
		width 100%
		a 
			border 1px dashed #6666
			border-radius 4px
			color #333
			display block
			font-size 1.5em
			text-align center
			padding 12px
			width 100%
			&:hover
				background-color #417D99
				color #fff
	.tumbs
		overflow hidden
		.tumb
			float left
			margin-top 16px
			position relative
			width 49%
			a 
				background-color rgba(0,0,0, .5)
				border-radius 50%
				display inline-block
				color #fff 
				padding 6px 10px
				position absolute
				bottom 8px
				right 8px
			img 
				border-radius 4px
				width 100%
			&:nth-child(odd)
				margin-right 1%
				

.page_user
	.mini_profile
		.avatar
			display block 
			margin 0px auto 
			border-radius 50%
			width 150px
		.info 
			background-color #fff
			span 
				display block 
				font-size 1.1em
				width 100%
		    span.title 
			    font-weight bolder
			    margin-top 16px
		.btn
			margin-top 16px
			width 100% 

//alertas

.alert 
	ul 
		list-style-position inside
		margin-left 16px

//slider 

.slider_content 
	background-color #f9f9f9
	border-radius 4px
	padding 16px
	h2 
		font-size 1.4em 
		margin 0px
		padding 0px
	h1 
		font-size 1.6em 
		font-weight bold
				