
/* Store css */
.store,
	.categories_list { 
		background-color: #fff;
        border-radius: 8px;
    }
		h2.tittle{
            background-color: #212529;
			border-radius: 4px 4px 4px 4px;
			color: #fff;
			display: block;
            font-size: 1.2em;
			padding: 12px;
        }
        ul.categories_list{
            list-style: none;
            margin-right: 10px;
            margin: 0px;
            padding: 0px;
        }
        li.list{
            border-bottom: 1px solid #a4a4a47c;
        }
        li.list:hover{
            background-color: #2125292f;
        }
        a.link{
            color: #474747d5;
            display: block;
            margin-left: 10px;
            text-decoration: none !important;
            padding: 6px;
        }
        a.link:hover{
            color: #9a9c9cdf;
        }

        .load_more_products{
            margin-bottom: 24px;
        }
	    a.link_more{
            background-color: #e9e7e7;
            border-radius: 4px;
            color: #000;
            margin-left: 35%;
            padding: 8px;
            width: 40%;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
        }
        a.link_more:hover{
            background-color: rgb(190, 188, 188);
            color: #000;
        }
        
			