color1 = #417D99 
color2 = #fff
color3 = #CFD8D8

body 
	background-color #f2f2f2
	font-size 14px
	font-family 'Roboto', sans-serif;
	
a 
	.btn
		&:active 
		&:focus
			box-shadow none 
			outline none
	
.mtop16
	margin-top 16px

.mtop32
	margin-top 32px

.pleft0
	padding-left 0px !important
	
.form-control
	&:hover
	&:focus 
		box-shadow none;
	
nav 
	background-color #fff 
	border-bottom 0px solid color1
	.navbar-brand
		img 
			width 80px
	.navbar-toggler
		font-size 1.9em
		color #000
		&:active
		&:focus
			box-shadow none
			outline none
	.navbar-nav
		li.nav-item
			a.nav-link 
				border 1px solid #fff 
				border-radius 4px
				color #000
				font-size .9em
				font-weight bold
				margin-right 4px
				margin-top 20px
				padding 5px 10px !important 
			a.active
				background-color rgba(135, 134, 134, 0.434)
				-webkit-box-shadow 5px 10px 5px 0px rgba(135, 134, 134, 0.434)
				-moz-box-shadow 5px 10px 5px 0px rgba(135, 134, 134, 0.434)
				box-shadow 5px 10px 5px 0px rgba(135, 134, 134, 0.434)
				&:hover 
					background-color rgba(135, 134, 134, 0.434)
					color #000
			a.btn 
				background-color transparent
				&:hover
					background-color rgba(95, 95, 95, 0.157)
					color #000
			img.img-perfil
					border-radius 50% 
					height 70px
					width 70px !important
			ul.droptown-menu
				border-radius 0px 0px 4px 4px
				background-color color1
				border-bottom 0px solid color1	
				a.droptown-item
					margin-left 10px
				li 
					border-bottom 1px solid #fff
					a 
						color #fff
						display block
						float none
						width 100%
						i 
							color color1
					&:last-child
						border-bottom 0px
					&:hover
						background-color #fff	
					
		li.link-acc 
			a 
				display inline-block
				float left
				margin-right 0px !important 
				&:first-child 
					border-radius 0px 0px 0px 4px
					border-right 1px solid color1
				&:last-child 
					border-radius 0px 4px 4px 0px
				img 
					position relative
					top -1px
					margin-right 1px
					width 24px
					
			li.link-user 
				overflow initial
				a 
					border 0px !important			
.wrapper 
	.panel 
		background-color #fff
		border-radius 6px
		border-bottom 2px solid #417D99
		width 100%
		.header
			border-bottom 1px solid #e8e8e8
			h2.title 
				display inline-block
				color #19213d
				font-size 1.1em
				margin-bottom 0px
				padding 12px 16px
			ul 
				display inline-block
				float right
				margin-right 12px
				li 
					display inline-block
					position relative
					a 
						color #333
						display inline-block
						padding 11px
						&:hover
							background-color #f6f6f6
							color #222
							text-decoration none
						i 
							color #2caaff
					ul 
						background-color #fff
						border 1px solid #f0f0f0
						display none
						float none
						position absolute
						right -16px
						width 200px
						li 
							display inline-block
							border-bottom 1px solid #f0f0f0
							width 100%
							&:last-child
								border-bottom 0px 
							a 
								display block
								width value
					&:hover
						ul 
							display block
		.inside
			padding 16px
		.nav 
			.nav-link
				border 1px solid #e8e8e8
				margin-right 8px
				&:hover 
					background-color #e8e8e8
					color #fff
					
		.form_search
			display none
			margin-bottom 16px
			.btn 
				width 100%
				
		.big_count
			display block
			font-size 2em
			text-align center
			width 100%
		.edit_avatar
			a 
				display block
				margin 0px auto
				position relative
				width 140px
				.overlay 
					align-items center
					background-color rgba(0, 0, 0, .55)
					border-radius 50%
					color #fff 
					display none
					font-size 2em
					justify-content center
					height 140px
					position absolute
					width 100%
				&:hover
					.overlay 
						display flex 
			img 
				border-radius 50%
				display block
				width 100%
			.form-control
				display none

//Css de categorias en el inicio, menu desplegable//
// .home_action_bar
// 	background-color #fff
// 	border-radius 4px
// 	margin-top 24px
// 	padding 16px
// 	.categories
// 		position relative
// 		a 
// 			background-color #111111
// 			border-radius 4px
// 			color #fff
// 			display block 
// 			padding 12px
// 			text-transform uppercase
// 			text-decoration none
// 			width 100%
// 			&:hover
// 				background-color #417D99 !important
// 				color #fff !important
// 		&:active
// 		&:focus 
// 			a 
// 				background-color #color1
// 		&:hover 
// 			ul 
// 				display block 
// 		ul 
// 			display none
// 			list-style none 
// 			margin 0px
// 			padding 0px
// 			position absolute
// 			width 100%
// 			z-index 99
// 			li 
// 				a 
// 					background-color #f8f8f8 
// 					border-radius 0px
// 					color #111111
// 					img 
// 						position relative
// 						margin-top -4px
// 						margin-right 8px
// 						width 40px
// 					&:hover 
// 						color #fff !important
// Fin de menu desplegable categorias// 

// Barra de busqueda//
	// .input-group
	// 	position relative
	// 	i 
	// 		position absolute
	// 		font-size 1.4em
	// 		left 12px 
	// 		top 12px
	// 		z-index 10
	// 	.form-control
	// 		border-radius 4px 0px 0px 4px
	// 		padding 10px 16px
	// 		padding-left 42px
	// 		z-index 2
	// 		&:focus 
	// 			border 1px solid #417D99
	// 	&:focus-within
	// 		i 
	// 			color #417D99
	// 		.btn
	// 			background-color #417D99
	//     .btn
	// 		background-color #111111
	// 		color #fff
	// 		&:hover
	// 			background-color #fff
	// 			color #111111 
// Fin Barra de busqueda//

// estilo slider //
.mdslider
	display flex 
	flex-wrap wrap
	min-height 380px
	overflow hidden
	position relative
	width 100%
	.md-slider-item
		align-items center
		border-right 1px solid #fff
		border-radius 4px
		display none
		background-color #fff
		color #fff
		justify-content center
		position absolute
		min-height 200px
		transition .3s all ease-in-out
		width 100% !important
		.col-md-6
			padding 0px
		.row 
			width: 100%
			margin 0px
			padding 0px
		.content
			background-color rgb(201, 201, 201) 
			align-items center 
			color #333
			display flex 
			height 100%
			justify-content center
			p   
				display block
				width 100%
			.cinside 
				text-align center
				border-left 4px solid color1
				padding-left 8px
				max-width 80%
				h2  
					font-size 1.8em
				.btn 
					background-color color1
					color #fff
					display inline-flex
					margin 0px auto
	
	ul.navigation
		display block 
		margin 0px
		padding 0px
		position absolute
		overflow hidden
		top calc(50% - 18px)
		z-index 9
		width 100%
		li 
			display inline-flex
			float left
			a
				align-items center
				background-color rgba(0,0,0, .5) 
				border-radius 50%
				display flex
				justify-content center
				font-size 1.4em
				height 36px
				width 36px
				text-decoration none
				color #fff
			&:first-child
				margin-left 32px
				a 
					i 
						position relative
						margin-left -2px 
						margin-top 2px
			&:last-child 
				margin-right 32px
				float right
				a 
					i 
						margin-left 2px 
						margin-top 2px 
//Separador suscribirse
.rows
	margin-top 30px
	text-align center
	.subs
		background-color #000
		.container
			.text
				background-color #000
				padding 30px
				position relative

.products_list
	display block
	margin-top 32px 
	padding 0px
	overflow hidden
	width 100%
	.product 
		display inline-block
		float left
		margin-bottom 24px
		margin-right 2.5%
		position relative
		width 18%
		&:nth-child(5n)
			margin-right 0px
		.image
			display block
			width 100%
			position relative
			overflow hidden
			.overlay 
				background-color rgba(0,0,0,.6)
				border-radius 4px
				display none
				flex 1
				height 100%
				position absolute 
				width 100%
				transition .3s all ease-in-out
				z-index 9
				.btns
					display block 
					bottom 8px
					position absolute
					left 3%
					overflow hidden
					width 94%
					a 
						background-color: #fff
						border-radius 4px
						box-sizing border-box
						color color1
						display block
						font-size 1.2em
						float left 
						margin-right 2%
						padding 6px
						text-align center
						width 32%
						&:last-child 
							margin-right 0px
			img 
				display block
				border-radius 4px
				width 100%
				transform scale(1)
				transition .3s all ease-in-out
				z-index 4
			&:hover 
			.image 
				img 
					transform scale(1.1)
				.overlay 
					display flex
		a 
			display block
			text-decoration none
			position relative
			width 100%
		.title
		.price 
		.option
			display block 
			width 100%
		.title 
			margin-top 8px
		.title 
			display: block
			font-size 1.2em
			overflow hidden
			color #111111
			white-space nowrap
			text-overflow ellipsis
			width: 100%
		.price 
			font-size 1.4em 
			font-weight bold
			margin-top 4px
			color #111111

.favorite_active 
	background-color #ea4c89 !important
	color #fff !important
		
.product_single
	background-color #fff
	border-radius 4px
	margin-top 32px
	padding 12px
	.btn-success
		background-color rgba(131, 131, 131, 0.73)
		border none
		color #000
		&:hover
			background-color rgba(159, 159, 159, 0.409)
			color #000
	.price 
		font-size 1.8em
		font-weight 700
	h2.title
		font-size 1.8em
		font-weight 300
		margin-bottom 24px
	h4.title
		margin-left 5px
		font-size .9em
	.category
		ul 
			list-style none
			margin 0px
			overflow hidden
			padding 0px
			li 
				display inline-flex
				margin 0px 6px
				float left
				.next
					display block
					color #666
					font-size .7em
					position relative
					margin-top 4px
				a 
					color #333 
					display inline-block
					text-decoration none
				&:hover 
					text-decoration underline
				&:first-child
					margin-left 0px
	.inside 
		padding 16px
	.content
		border-top 1px solid #f0f0f0
		margin-top 8px
		padding-top 8px
	.quantity 
		overflow hidden
		margin-right 50px
		margin-top 24px
	.amount_action
		align-items center
		background-color rgba(135, 134, 134, 0.434)
		border-radius 50%
		color #000
		display flex
		justify-content center
		height: 32px
		text-decoration none
		width 32px
		&:first-child
			margin-right 8px
.slick-next
	right 8px
.slick-prev
	left 8px

.slick-arrow
	align-items center
	background-color rgba(0, 0, 0, .6)
	display flex
	border-radius 50%
	justify-content center
	height 36px
	width 36px
	z-index 90
	&:before
		position relative
		left 0px
		top 1px
	&:hover
		background-color rgba(0, 0, 0, .75)
	&:focus
		background-color rgba(0, 0, 0, .75)



				