
   .navbar-nav{
      margin-left: 200px;
   }
   .nav-item{
      padding-left: 16px;
   }
   .search{
      margin-left: 28%;;
      padding: 16px;
   }
   .fa-search{
      background-color: rgba(135, 134, 134, 0.434);
      border-radius: 5px 0px 0px 5px;
      padding: 16px;
   }
   .search_button{
      background-color: rgba(135, 134, 134, 0.434);
   }
   .search_button:hover{
      background-color: rgba(181, 180, 180, 0.434);
   }

@media only screen and (max-width: 728px)	{
    
	nav, .navbar-nav {
        display: block !important;
        margin-left: 0px;
        margin-top: 0px;
		  overflow: hidden;
            }
        .collapse {
            position: relative;
            left: 0px !important;
        }
		 li.nav-item {
			display: block !important;
			float: left;
			margin-right: 0px;
         margin-bottom: 12px;
         padding-left: 0px;
			width: 50%;
         }
         a.nav-link{
            left: 0px !important;
            margin-top: 10px;
            margin-left: 0px !important;
            position: relative !important;
            text-align: center;
         }

         span{
             display: block;
             width: 100%;
             font-weight: normal;
             margin-top: 4px;
             font-size: 1em;
         }
		 a.nav-link, i {
			font-size: 1.9em;
            
         }

         li.link-acc, .rec{
            width: 50% !important;
         }

         li.link-user, .rec{
            font-size: 1em;
            display: block;
            width: 100% !important;
         } 
         li.link-user, img{
            width: 36px;
         }

         /* Reponsive slider */
         .row {
            margin-top: 12px;
         }
         .mdslider, .md-slider-item{
            width: 100%;
            min-height: 200px !important;
         }
         .col-md-6{
            min-height: 200px;
         }
         .img-fluid{
            width: 100%;
            min-height: 100px!important;
         }

         .products_list .product{
            height: 80%;
            padding: 5px;
            width: 100%;
         }
         .store_title{
            font-size: 1.5em;
            margin-left: 8px;
         }
         .search{
            margin-left: 0%;;
            padding: 15px;
         }
         .fa-search{
            background-color: rgba(135, 134, 134, 0.434);
            font-size: 1.2em;
         }

}